<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @product.unity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @product.identification %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Selling price 1:</strong>
  <%= @product.selling_price_1 %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @product.observations %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @product.inventory %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode %>
</p>

<p>
  <strong>Selling price 2:</strong>
  <%= @product.selling_price_2 %>
</p>

<p>
  <strong>Selling price 3:</strong>
  <%= @product.selling_price_3 %>
</p>

<p>
  <strong>Min stock:</strong>
  <%= @product.min_stock %>
</p>

<p>
  <strong>Max stock:</strong>
  <%= @product.max_stock %>
</p>

<p>
  <strong>Stock purchase:</strong>
  <%= @product.stock_purchase %>
</p>

<p>
  <strong>Factor pcs of sales:</strong>
  <%= @product.factor_pcs_of_sales %>
</p>

<p>
  <strong>Ncm:</strong>
  <%= @product.ncm %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @product.inactive %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @product.kind %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @product.composition %>
</p>

<p>
  <strong>Feedstock:</strong>
  <%= @product.feedstock %>
</p>

<p>
  <strong>Material imprint:</strong>
  <%= @product.material_imprint %>
</p>

<p>
  <strong>For sale:</strong>
  <%= @product.for_sale %>
</p>

<p>
  <strong>Coin:</strong>
  <%= @product.coin %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @product.comments %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @product.provider %>
</p>

<p>
  <strong>Pip:</strong>
  <%= @product.pip %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @product.gender %>
</p>

<p>
  <strong>Value:</strong>
  <%= @product.value %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
